<!DOCTYPE html>
<html>
<head>
  <title>SimpleFormDatepicker</title>
  <%= stylesheet_link_tag    "simple_form_datepicker/application", :media => "all" %>
  <%= javascript_include_tag "simple_form_datepicker/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
